.item-table {
  text-align: center;
}

.item-table-input {
  text-align: center;
  width: calc(100% - 2px);
}

.item-table-select {
  text-align: center;
  width: calc(100% - 2px);
}

.item-table-data {
  min-width: 160px;
}
