<li class='character-lowmagic-card flexcol'>
  <div class='lowmagic-top-bar flexrow'>
    <div class='lowmagic-info lowmagic-name'>
      <a>{{name}}</a>
    </div>
    <div class='lowmagic-mastery-container flexrow'>
      <input class='lowmagic-mastery' value='{{data.data.lowMagicMastery}}' type='text' readonly />
    </div>
    <div class='lowmagic-castingType-container flexrow'>
      <input class='lowmagic-castingType-for' value='{{data.data.castingType}}' type='text' readonly />
    </div>
  </div>
  <div class='lowmagic-info lowmagic-description'>
    {{{data.data.description}}}
  </div>
</li>