<div class='character-armour-card'>
  <div class='armour-info armour-name'>
    <a>{{name}}:</a>
  </div>
  <div class='armour-info armour-description'>
    {{{data.data.description}}}
  </div>
</div>